.main {
  width: 500px;
  margin: 0 auto;
}
.inline_div {
  width: 250px;
  height: 200px;
  background-color: rosybrown;
  float: left;
}
.inline_div_one {
  width: 250px;
  height: 200px;
  background-color: saddlebrown;
  float: left;
}
